<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover">
    <title>Notícias - <%=title%>
    </title>
    <meta name="referrer" content="no-referrer">
    <link rel="shortcut icon" href="<%=image%>">
    <meta name="application-name" content="<%=title%>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta itemprop="image" content="<%=image%>">
    <meta name="author" content="vitor_xp">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#224eff">
    <meta property="og:title" content="Notícias - <%=title%>">
    <meta name="twitter:title" content="Galeria - <%=title%>">
    <meta name="apple-mobile-web-app-title" content="Notícias - <%=title%>">
    <meta property="description"
        content="O Portfólio do Pré-Candidato a Vereador Gabriel Felipe Martins é um projeto dedicado a fornecer informações claras e transparentes aos eleitores de Várzea Grande. Esperamos que este portfólio ajude a fortalecer a conexão entre o pré-candidato e a comunidade, promovendo assim uma participação cívica mais informada e engajada.">
    <meta property="og:description"
        content="O Portfólio do Pré-Candidato a Vereador Gabriel Felipe Martins é um projeto dedicado a fornecer informações claras e transparentes aos eleitores de Várzea Grande. Esperamos que este portfólio ajude a fortalecer a conexão entre o pré-candidato e a comunidade, promovendo assim uma participação cívica mais informada e engajada.">
    <meta name="twitter:description"
        content="O Portfólio do Pré-Candidato a Vereador Gabriel Felipe Martins é um projeto dedicado a fornecer informações claras e transparentes aos eleitores de Várzea Grande. Esperamos que este portfólio ajude a fortalecer a conexão entre o pré-candidato e a comunidade, promovendo assim uma participação cívica mais informada e engajada.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%=title%>">
    <meta property="og:url" content="https://">
    <meta name="og:image" content="<%=image%>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:url" content="https://">
    <meta name="twitter:image" content="<%=image%>">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="<%=image%>">
    <meta name="next-head-count" content="29">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css" importance="true">
    <link rel="stylesheet" href="https://counting.squareweb.app/_next/static/css/99fda955321f020f9.css" importance="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"
        importance="true">
    <link href="https://fonts.cdnfonts.com/css/heavitas" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://counting.squareweb.app/_next/static/chunks/marked-up69f7gf45fdgsgd4fdg54.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JYZE1GNX7"></script>
    <script src="/js/main.js"></script>
    <script>
        $(document).ready(function (v) {
            $('[id^="category-filter"]').click(function (v) {
                $('[id^="category-filter"]').removeClass("bg-[#232D45] text-[#D6D2D2]").addClass("bg-[#141A29] text-[#3B4B74] hover:bg-[#1d253b] hover:text-[#5d76b3]")
                $(this).addClass("bg-[#232D45] text-[#D6D2D2]").removeClass("bg-[#141A29] text-[#3B4B74] hover:text-[#5d76b3] hover:bg-[#1d253b]")
            })
        })
    </script>
</head>

<body class="bg-[#0B0E13] font-sans text-white">
    <div class="hidden bg-[rgb(0,0,0,0.46)] w-full h-full justify-center items-center z-20 fixed transition-[1s] tr"
        id="view-pop">
        <div class="bg-[#13171F] rounded-md p-2 w-[350px] h-[150px] flex flex-col" id="view-pop-display">
            <div id="view-pop-content"></div>
            <div class="absolute flex justify-end" style="width: inherit; margin-left: -15px;">
                <button id="view-pop-close">
                    <i class="text-xl text-red-500 fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="fixed z-30 flex flex-col items-center justify-end w-full h-full gap-1 p-4 transition bg-transparent pointer-events-none" id="notification-view"></div>
    <nav class="bg-[rgb(17,21,29)] fixed w-full z-10">
        <div class="flex justify-between items-center center pl-[20px] pr-[20px] transition-[1s]">
            <div class="flex">
                <a href="/">
                    <img class="w-[150px] h-[50px] rounded-md"
                        src="https://cdn.discordapp.com/attachments/1009566680520851526/1225497080001462425/image-removebg-preview_1.png?ex=66215818&is=660ee318&hm=67d4dd4e3351d9887cd2cb318a4000887583f15db34c139e0e0bb8b7201eadd8&"
                        alt="Logo">
                </a>
            </div>
            <div class="flex max-[800px]:p-[40px] max-[800px]:pr-[10px] max-[800px]:pl-[10px]">
                <a href="/" class="max-[800px]:hidden">
                    <div
                        class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                        Pagína
                        Inicial
                    </div>
                </a>
                <a href="/biography" class="max-[800px]:hidden">
                    <div
                        class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                        Biografia</div>
                </a>
                <a href="/blog" class="max-[800px]:hidden">
                    <div
                        class="text-[#dedede] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                        Notícias
                    </div>
                </a>
                <a href="/galery" class="max-[800px]:hidden">
                    <div
                        class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                        Galeria
                    </div>
                </a>
            </div>
            <div class="flex">
                <%if(!Auth) {%>
                    <button
                        class="bg-[#161920] hover:bg-[#202530] p-[10px] pl-[20px] pr-[20px] rounded-md text-[#999999] hover:text-[#dedede] transition-[1s] text-[20px] self-center text-center"
                        id="login-user">
                        <i class="fa-solid fa-right-from-bracket"></i> Login</button>
                    <%} else {%>
                        <button
                            class="bg-[#161920] hover:bg-[#202530] p-[10px] pl-[20px] pr-[20px] rounded-md text-[#999999] hover:text-[#dedede] transition-[1s] text-[20px] self-center text-center"
                            id="login-user" auth="true">
                            <div class="flex items-center gap-[10px]">
                                <%if(!user.avatar) {%>
                                    <div class="bg-[#292B32] rounded-full w-[32px] h-[32px]"></div>
                                    <%} else {%>
                                        user.avatar
                                        <%}%>
                                            <span class="truncate w-[150px]">
                                                <%=user.name%>
                                            </span>
                            </div>
                        </button>
                        <%}%>
                            <div class="text-[#dedede] text-[20px] hover:text-[#dedede] hover:bg-[#f0f8ff1c] items-center p-[15px] rounded-lg ml-[10px] cursor-pointer hidden max-[866px]:flex transition-[1s]"
                                id="open-bars"><i class="fa-solid fa-bars"></i></div>
            </div>
        </div>
        <div id="warn-bar" class="hidden">
            <div class="bg-[#342B10] w-full flex justify-center" id="color-warn-bar">
                <span class="text-[#8D8879] self-center text-center" id="text-warn-bar">Site em construção, varios
                    sistemas
                    podem não
                    funcionar
                    corretamente.</span>
            </div>
        </div>
        <div class="absolute translate-x-full top-0 z-30 hidden flex-col items-end w-full h-[100vh] pr-8 pt-3 rounded-lg bg-[#0b0e13] duration-300 transition-transform"
            id="mobile-view">
            <div class="flex flex-col items-end text-[26px] w-full pl-8">
                <div class="text-[#ff3a3a] text-[26px] hover:text-[#ff6363] hover:bg-[#f0f8ff1c] items-center p-[14px] rounded-lg ml-[10px] w-full text-end cursor-pointer transition-[1s]"
                    id="close-bars">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <a class="p-1 pl-4 pr-4 hover:bg-[#f0f8ff1c] rounded-lg transition-[1s] text-[#bdbdbd] hover:text-white w-full text-end"
                    href="/">Página Inicial</a>
                <a class="p-1 pl-4 pr-4 hover:bg-[#f0f8ff1c] rounded-lg transition-[1s] text-[#bdbdbd] hover:text-white w-full text-end"
                    href="/biography">Biografia</a>
                <a class="p-1 pl-4 pr-4 hover:bg-[#f0f8ff1c] rounded-lg transition-[1s] text-[#bdbdbd] hover:text-white w-full text-end underline"
                    href="/blog">Notícias</a>
                <a class="p-1 pl-4 pr-4 hover:bg-[#f0f8ff1c] rounded-lg transition-[1s] text-[#bdbdbd] hover:text-white w-full text-end"
                    href="/galery">Galeria</a>
            </div>
        </div>
    </nav>
    <div class="h-[160px]"></div>
    <section class="flex flex-col gap-[40px]">
        <div
            class="pr-[300px] pl-[300px] max-md:pr-[20px] max-md:pl-[20px] max-2xl:pr-[150px] max-2xl:pl-[150px] max-sm:pr-[10px] max-sm:pl-[10px]">
            <div class="bg-[#13171F] w-full h-[500px] max-sm:h-[400px] rounded-2xl cursor-pointer"
                onclick="PopContent({element: `<h1>Elemento sem caminho...</h1>`,classes: 'flex justify-center items-center w-full h-full'});visibilityOrHiddenPop()">
            </div>
        </div>
        <div class="flex items-center justify-center">
            <div class="bg-transparent border border-[#1D2740] rounded-full flex justify-between">
                <input type="search" id="search-content"
                    class="bg-transparent text-[20px] p-1 pr-3 pl-3 border-0 focus:outline-none placeholder-[#1D2740] text-[#495d8f]"
                    placeholder="Pesquisar">
                <button
                    class="search-send bg-[#141A29] rounded-tr-full rounded-br-full pt-1 pr-5 pl-5 flex justify-center items-center active:text-[#c2c1c1]">
                    <div class="bg-transparent"><i class="fa-solid fa-magnifying-glass"></i></div>
                </button>
            </div>
        </div>
        <div class="flex items-center justify-center gap-2" id="categorys">
            <div class="bg-[#232D45] text-[#D6D2D2] transition-[1s] p-1 pr-3 pl-3 rounded-lg cursor-pointer" value="all"
                id="category-filter">Todas as
                Notícias</div>
            <div class="bg-[#141A29] hover:bg-[#1d253b] text-[#3B4B74] hover:text-[#5d76b3] transition-[1s] p-1 pr-3 pl-3 rounded-lg cursor-pointer"
                value="commissions" id="category-filter">
                Comissões</div>
            <div class="bg-[#141A29] hover:bg-[#1d253b] text-[#3B4B74] hover:text-[#5d76b3] transition-[1s] p-1 pr-3 pl-3 rounded-lg cursor-pointer"
                value="public-hearing" id="category-filter">Audiência Pública</div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2" id="posts">
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
            <a href="/blog/amo-noticia-quente">
                <div
                    class="bg-transparent border border-[#1D2740] rounded-2xl p-4 pr-5 pl-5 flex justify-between items-center cursor-pointer max-md:gap-0 gap-[20px]">
                    <div>
                        <div
                            class="bg-[#13171F] rounded-lg w-[300px] h-[160px] hover:scale-[1.05] transition-[1s] block max-md:hidden">
                        </div>
                    </div>
                    <div class="flex flex-col w-[500px] max-sm:w-[400px] max-[500px]:w-[350px] gap-[5px]">
                        <h1 class="font-semibold text-[30px]">Título da notícia aqui...</h1>
                        <p class="text-[18px]">Descrição da notícia aqui...</p>
                        <div class="flex gap-[5px] ml-[-5px] mb-[5px]">
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Live</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Cozinha</span>
                                </div>
                            </a>
                            <a href="/blog?category=Live" class="text-[#78889F] hover:text-[#4c7ec3]">
                                <div
                                    class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                    <span>Peneu</span>
                                </div>
                            </a>
                        </div>
                        <!-- <span class="text-[15px] text-[#686A6D]">Publicado há 10 minutos - Editado há 1 minuto</span> -->
                        <a href="/blog/amo-noticia-quente" class="w-full">
                            <button
                                class="w-full p-1 bg-[#1D2740] hover:bg-[#202944] rounded-lg text-[20px] text-[#88A2D4] hover:text-[#87b1ff] transition-[1s]">Acessar
                                Notícia</button>
                        </a>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
<footer class="mt-[100px]">
    <hr class="border-[#1F2937] w-full">
    <div
        class="bg-[#0D1117] p-[50px] pr-[150px] pl-[150px] max-2xl:pl-[100px] max-2xl:pr-[100px] max-xl:pl-[20px] max-xl:pr-[20px] max-lg:flex-col max-lg:items-center max-lg:gap-5 max-md:gap-10 flex justify-between">
        <div class="flex">
            <a href="/">
                <img class="w-[310px] h-[100px] rounded-md"
                    src="https://cdn.discordapp.com/attachments/1009566680520851526/1225497080001462425/image-removebg-preview_1.png?ex=66215818&is=660ee318&hm=67d4dd4e3351d9887cd2cb318a4000887583f15db34c139e0e0bb8b7201eadd8&"
                    alt="Logo">
            </a>
        </div>
        <div class="flex gap-8 max-md:flex-col">
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Navegação</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="/" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Pagína Inicial</a>
                    <a href="/biography" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Biografia</a>
                    <a href="/blog" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Notícias</a>
                    <a href="/galery" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Galeria</a>
                </div>
            </div>
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Links importantes</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="/" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Alguma página
                        ai</a>
                </div>
            </div>
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Redes sociais</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="https://www.facebook.com/gabrielmartinsvg"
                        class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Facebook</a>
                    <a href="https://www.instagram.com/gabrielmartinsvg/"
                        class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Instagram</a>
                    <!-- <a href="/blog" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Twitter (X)</a> -->
                    <!-- <a href="/galery" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">YouTube</a> -->
                </div>
            </div>
        </div>
    </div>
</footer>

</html>