<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagína Inicial - Gabriel Felipe Martins</title>
    <link rel="stylesheet" href="/css/style.css" importance="true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        importance="true">
    <link rel="stylesheet" href="https://counting.squareweb.app/_next/static/css/99fda955321f020f9.css"
        importance="true">
    <link rel="stylesheet" href="https://counting.squareweb.app/_next/static/css/ds99fda34ef21f020f54.css"
        importance="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"
        importance="true">

</head>

<body class="bg-[#0B0E13] font-sans text-white">
    <div>
        <nav class="bg-[#10141C] fixed w-full h-[80px] justify-center items-center">
            <div class="flex justify-between items-center center gap-[100px] pl-[20px] pr-[20px]">
                <div class="flex">
                    <div class="bg-[#161920] w-[150px] h-[50px] rounded-md"></div>
                </div>
                <div class="flex">
                    <a href="/">
                        <div
                            class="text-[#dedede] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                            Pagína
                            Inicial
                        </div>
                    </a>
                    <a href="/biography">
                        <div
                            class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                            Biografia</div>
                    </a>
                    <a href="/blog">
                        <div
                            class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                            Notícias
                        </div>
                    </a>
                    <a href="/galery">
                        <div
                            class="text-[#999999] text-[20px] hover:text-[#dedede] flex items-center p-[25px] pl-[15px] pr-[15px]">
                            Galeria
                        </div>
                    </a>
                </div>
                <div class="flex">
                    <button
                        class="bg-[#161920] hover:bg-[#202530] p-[10px] pl-[20px] pr-[20px] rounded-md text-[#999999] hover:text-[#dedede] transition-[1s] text-[20px] self-center text-center">
                        <i class="fa-solid fa-right-from-bracket"></i> Login</button>
                </div>
            </div>
            <div id="warn-bar">
                <div class="bg-[#342B10] w-full h-[25px] flex justify-center" id="color-warn-bar">
                    <span class="text-[#8D8879] self-center" id=" text-warn-bar">Site em construção, varios sistemas
                        podem não
                        funcionar
                        corretamente.</span>
                </div>
            </div>
        </nav>
        <div class="h-[160px]"></div>
        <section class="flex flex-col gap-[40px]">
            <div class="pr-[150px] pl-[150px]" id="images-root">
                <div class="bg-[#13171F] h-[700px] rounded-xl"></div>
                <div class="flex gap-[15px] justify-center mt-[-25px]">
                    <div class="bg-[#909090] w-[10px] h-[10px] rounded-full cursor-pointer" id="image-root-1"></div>
                    <div class="bg-[#3F3F3F] w-[10px] h-[10px] rounded-full cursor-pointer" id="image-root-2"></div>
                    <div class="bg-[#3F3F3F] w-[10px] h-[10px] rounded-full cursor-pointer" id="image-root-3"></div>
                </div>
            </div>
            <!-- <div class="flex justify-between pr-[150px] pl-[150px]">
                <div class="bg-[#13171F] rounded-lg p-5">
                    <h1 class="text-white text-[25px] font-semibold flex items-center gap-[8px]"><i
                            class="fa-regular fa-shield text-[30px] text-[#0044C8]"></i>
                        Segurança
                        Publica</h1>
                    <p class="text-[#ADADAD] text-[20px] w-[400px]">Compromisso absoluto com a segurança de todos,
                        fortalecendo as
                        forças
                        policiais e promovendo
                        medidas preventivas para
                        garantir comunidades seguras.</p>
                </div>
                <div class="bg-[#13171F] rounded-lg p-5">
                    <h1 class="text-white text-[25px] font-semibold flex items-center gap-[8px]"><i
                            class="fa-regular fa-truck text-[30px] text-[#0044C8]"></i>Saneamento Básico</h1>
                    <p class="text-[#ADADAD] text-[20px] w-[400px]">Prioridade máxima para melhorar as condições de
                        saneamento, garantindo acesso à água potável e serviços adequados para
                        proteger a saúde pública.</p>
                </div>
                <div class="bg-[#13171F] rounded-lg p-5">
                    <h1 class="text-white text-[25px] font-semibold flex items-center gap-[8px]"><i
                            class="fa-regular fa-bus text-[30px] text-[#0044C8]"></i>Transporte Público</h1>
                    <p class="text-[#ADADAD] text-[20px] w-[400px]">Compromisso com um sistema de transporte eficiente e
                        acessível, investindo em infraestrutura, modernização de frotas e
                        políticas que incentivem seu uso para promover mobilidade urbana e inclusão social.</p>
                </div>
            </div> -->
            <div class="pr-[150px] pl-[150px]">
                <div class="bg-[#13171F] p-5 pl-[30px] pr-[30px] rounded-xl flex">
                    <div>
                        <h1 class="flex gap-[10px] text-[25px] font-semibold text-white items-center"><i
                                class="fa-solid fa-newspaper"></i>Últimas
                            notícias
                        </h1>
                        <div class="mt-[10px]">
                            <a href="/blog">
                                <div class="bg-[#19202C] p-5 rounded-xl flex gap-[5px]">
                                    <div class="w-[350px]">
                                        <h1 class="text-[24px] font-semibold mb-[5px]">Titulo da notícia recente aqui ou
                                            descrição,
                                            não sei...</h1>
                                        <div class="flex">
                                            <span class="flex gap-[5px] items-center"><i
                                                    class="fa-solid fa-clock"></i>Há 10
                                                minutos</span>
                                            <div
                                                class="border-l-[2px] border-l-[#3d495d] rounded-xl ml-[10px] mr-[10px]">
                                            </div>
                                            <div class="flex gap-[5px]" id="category">
                                                <a href="/blog?category=Live"
                                                    class="text-[#78889F] hover:text-[#4c7ec3]">
                                                    <div
                                                        class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                                        <span>Live</span>
                                                    </div>
                                                </a>
                                                <a href="/blog?category=Cozinha"
                                                    class="text-[#78889F] hover:text-[#4c7ec3]">
                                                    <div
                                                        class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                                        <span>Cozinha</span>
                                                    </div>
                                                </a>
                                                <a href="/blog?category=Peneu"
                                                    class="text-[#78889F] hover:text-[#4c7ec3]">
                                                    <div
                                                        class="bg-transparent border-[2px] border-[#272E38] hover:border-[#2a405f] rounded-2xl p-0 pl-3 pr-3">
                                                        <span>Peneu</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<footer class="mt-[100px]">
    <hr class="border-[#1F2937] w-full">
    <div class="bg-[#0D1117] p-[50px] pr-[150px] pl-[150px] flex justify-between">
        <div class="flex">
            <div class="bg-[#161920] w-[300px] h-[150px] rounded-md"></div>
        </div>
        <div class="flex gap-8">
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Navegação</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="/" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Pagína Inicial</a>
                    <a href="/biography" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Biografia</a>
                    <a href="/blog" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Notícias</a>
                    <a href="/galery" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Galeria</a>
                </div>
            </div>
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Links importantes</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="/" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Alguma página ai</a>
                </div>
            </div>
            <div class="w-[200px]">
                <h1 class="uppercase font-semibold text-[18px] text-white">Redes sociais</h1>
                <hr class="border-[#232D3C] w-full mb-[10px]">
                <div class="flex flex-col">
                    <a href="/" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Facebook</a>
                    <a href="/biography" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Instagram</a>
                    <a href="/blog" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">Twitter (X)</a>
                    <a href="/galery" class="text-[#657188] hover:text-[#58a0ff] text-[20px] mb-[-5px]">YouTube</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>